

#expense-app {
    max-width:400px;
    min-height:450px;
    margin: 0 auto;
    background-color:#22c9a3;
    box-shadow: 0 0 10px grey;
    margin-top: 50px;
}
.heading{
    text-align:center;
}
#balance {
    display: flex;
    justify-content: space-around;
    color:forestgreen;
}
#income-expense {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 5px grey;
}
#income{
    color:forestgreen;
}
#expense{
    color:red;
}
#transaction {
    box-shadow: 0 0 5px grey;
    padding-bottom:1em;
}
input{
    margin-left:0.2em;
    padding-left:1em;
    margin-top:10px;
    width:95%;
    height:30px;
}
#Trans-Details{
   
}
.itemsList{
    margin:0;
    padding:0;
}
    .itemsList > li {
        display: flex;
        justify-content:space-around;
        box-shadow: 0 0 5px grey;
        padding-bottom:5px;
        padding-top:5px;
        margin-bottom:4px;
    }
    .itemsList > li>span{
        font-weight:bold;
    }